<div>
    <div class = "text-center">
        <% if @user.image_name? %>
           <%= image_tag @user.image_name.url ,alt: "ユーザー画像",class: "user-image text-center" %>
        <% else %>
           <%= image_tag "default.png" ,alt: "ユーザー画像",class: "user-image pull-center" %>
        <% end %>
    </div>
    <h1 class = "text-center">
        <%= @user.name %>
        <% if @user.id == current_user.id  %>
            <%= link_to edit_user_path(@user) do %>
               <i class="fas fa-cogs text-dark"></i>
            <% end %>
        <% end %>
    </h1>
</div>