<div class = "top-images mt-4">
    <div class="slide">
        <div class="slidechild">
            <%= image_tag "top1.jpg", alt:"top-image1", class:"img-fluid" %> 
        </div>
    </div>
</div>
<script src="/assets/slide.js"></script>