<h1 class = "text-center mt-3">Title : <%= @post.title %></h1>
<% if @post.images %>
      <div class = "row">
        <% @post.images.each do |image| %>
          <div class = "col-6">
             <%= image_tag image.image_name.url , alt: "投稿画像", class: "img-thumbnail" %>
          </div>
        <% end %>
      </div>
<% end %>

<div class = "text-center"> 
    <h2 class = "mt-3">商品名: <%= @post.product_name %></h2>
    <div class = "review">
        <%= @post.review  %>
    </div>
    <h2 class = "text-center mt-4">コメント</h2>
</div>


