/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */



@import "bootstrap";



footer {
    background:#F6F6F6;
    padding:30px 0;
    margin-top:60px;
}

/* /users/:id  users#show */
.user-image  {
    width:300px;
    height:300px;
    border-radius:50%;
    box-shadow:0 0 6px rgba(0,0,0,0.5);
    margin:50px 0;
}

.user-profile {
    margin:0 auto;
}


/* /   home#top */
.top {
    background:url("top1.jpg");
    padding:200px 0;
    background-size:cover;
    color:#fff;
    h1{
        font-size:100px;
        text-shadow:0 0 3px #000;
    }
    h3{
        text-shadow:0 0 3px #000;
    }
}

/* /posts  posts#index */
.user-image-index {
     width:200px;
    height:200px;
    border-radius:50%;
    box-shadow:0 0 6px rgba(0,0,0,0.5);
    margin:50px 0;
}

.fa-heart{
    font-size: 30px;
    margin-top: 30px;
}

#unlike {
    color: #808080;
}


#like {
    color:#FF00FF;
}

.sake-image {
    min-height: 180px;
}

/* users/:id  users#show */
.user-options {
    font-size:20px;
    margin-top:30px;
}

.user-show {
    font-size:18px;
}

/* posts/:id posts#show */
.review {
    margin-top: 30px;
    font-size: 20px;
}

.comment-form {
    width:60%;
    margin:0 auto;
}ul{
  list-style:none;
}

